<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Stay Subway Safe</h1>
    <h2>96th Street, now</h2>
    
    
    
    <p>There are {{nn}} people on the Northbound platform.</p>
    <p>The Northbound platform is at risk level {{nr}}.</p>
    <p>There are {{sn}} people on the Southbound platform.</p>
    <p>The Southbound platform is at risk level {{sr}}.</p>
    
    <a href="/">Go back to Home </a>
    </body>
</html>
